{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
  <br><br><br><br><br>
<h1 align="center">Create a new Cake</h1>
  <br><br><br>
<form method="POST">
  <textarea name="text" id="text" class="form-control" placeholder="Enter something" style="resize: none; height: 550px;"></textarea>

<style type="text/css">

  #text{
    font-family: 'Roboto', serif;
    font-size: 15px;
    border-radius: 2px;
    border-radius: 2px solid;
    border-color: blue;
  }
  
</style>

  <br>
  <div align="center">
    <button type="submit" class="btn btn-lg btn-primary">Post</button>
  </div>
</form>
<br />
<div align="center">
  <a href="/home"
    ><button type="button" class="btn btn-lg btn-secondary">Back</button></a>
</div>
<br><br>
{% endblock %}
